class {{Name}}(object):
    """ This represents a JSON NULL value.
    """

    def __init__(self, data=None):
        if not isinstance(data, type(self)) and data is not None:
            raise ValueError("Expected None")

    def Get(self):
        return None

    def Serializable(self):
        return self.Get()
