{%-import 'loader.jinja2' as loader-%}
from collections import UserDict
{%-for prop in schema.properties.values()%}
{%-if '$ref' in prop%}
{{resolver.IncludeStatement(prop['$ref'])}}
{%-endif%}
{%-endfor%}

{%-macro PropertyClassName(propName)-%}
{{propName|PascalCase}}Property
{%-endmacro%}

{%-macro PropertyType(propName, propSchema)-%}
{%-if '$ref' in propSchema-%}
{{resolver.ClassName(propSchema['$ref'])}}
{%-else-%}
self.{{PropertyClassName(propName)}}
{%-endif-%}
{%-endmacro%}

class {{Name}}(UserDict):
    """This represents a JSON object.
    """

    {%-for propName, propSchema in schema.properties.items()%}
    {%-if '$ref' not in prop%}
    {{loader.Class(resolver, PropertyClassName(propName), propSchema) |indent(4)}}
    {%-endif%}
    {%-endfor%}

    def __init__(self, data={}, **kwargs):
        """Initialization for the {{Name}} object.
        It can be initializaed with an object, or by passing each
        object property as a keyword argument.
        """
        newData = {}
        {%-for propName, propSchema in schema.properties.items()%}
        try:
            prop = data["{{propName}}"] if ("{{propName}}" in data) else kwargs["{{propName}}"]
            if not isinstance(prop, {{PropertyType(propName, propSchema)}}):
                newData["{{propName}}"] = {{PropertyType(propName, propSchema)}}(prop)
        except KeyError:
            {%-if propName in schema.required%}
            raise ValueError("Missing property '{{propName}}'")
            {%-else%}
            pass
            {%-endif%}
        {%-endfor%}
        super().__init__(newData)
    
    {%-for propName, propSchema in schema.properties.items()%}

    def Get{{propName|PascalCase}}(self):
        return self.data["{{propName}}"]
    
    def Set{{propName|PascalCase}}(self, newValue):
        if not isinstance(newValue, {{PropertyType(propName, propSchema)}}):
            self.data["{{propName}}"] = {{PropertyType(propName, propSchema)}}(newValue)
        else:
            self.data["{{propName}}"] = newValue
        return self
    {%-endfor%}

    def Serializable(self):
        return self.data
