import unittest
import json
from . import {{class}} as {{Name}}

class Test{{Name|UpperCamelCase}}SchemaStructure(unittest.TestCase):

    def test_parse_json(self):
        examples = {{examples}}
        for ex_str in examples:
            ex = json.loads(ex_str)
            {{Name}}(ex)
