/*! {{Name}} is a wrapper around a boolean.
 {%-if schema.description %}
 * {{schema.description}}
 {%-endif%}
 */
class {{Name}}
{
public:
    {{Name}}(bool value);

    {%-if schema.default is defined %}
    {{Name}}();
    {%-endif%}

    virtual ~{{Name}}() = default;

    operator bool() const;
    
    {{Name}}& operator=(bool value);

    void Set(bool value);

    bool Get() const;

    static {{Name}} FromJson(const rapidjson::Value& json);

    void ToJson(rapidjson::Value& value, rapidjson::Value::AllocatorType& allocator) const;

private:
    bool _value;
};