{%-if schema.type == 'integer'%}{%-set cpptype = 'int'%}{%-else%}{%-set cpptype = 'double'%}{%-endif-%}
/*! {{Name}} is a wrapper around a {{schema.type}}.
 {%-if schema.description %}
 * {{schema.description}}
 {%-endif%}
 */
class {{Name}}
{
public:
    {%-if schema.minimum is defined %}
    static constexpr int VALUE_MINIMUM = {{schema.minimum}};
    {%-endif%}
    {%-if schema.maximum is defined %}
    static constexpr int VALUE_MAXIMUM = {{schema.maximum}};
    {%-endif%}
    {%-if schema.exclusiveMinimum is defined %}
    static constexpr int VALUE_EXCLUSIVE_MINIMUM = {{schema.exclusiveMinimum}};
    {%-endif%}
    {%-if schema.exclusiveMaximum is defined %}
    static constexpr int VALUE_EXCLUSIVE_MAXIMUM = {{schema.exclusiveMaximum}};
    {%-endif%}
    {%-if schema.multipleOf is defined %}
    static constexpr int VALUE_MULTIPLE_OF = {{schema.multipleOf}};
    {%-endif%}

    /*! Constructor
     * \param {{cpptype}} value the initial value
     */
    {{Name}}({{cpptype}} value);

    {%-if schema.default is defined %}
    /*! Default value constructor.
     * This structure is initialized with the value '{{schema.default}}'
     */
    {{Name}}();
    {%-endif%}

    virtual ~{{Name}}() = default;

    /*!
     * Cast to {{cpptype}} operator
     */
    operator {{cpptype}}() const;
    
    /*! Assignment from {{cpptype}} operator
     */
    {{Name}}& operator=({{cpptype}} value);

    /*! Stream operator.
    */
    friend std::ostream& operator<<(std::ostream& os, const {{Name}}& str);

    /*! Sets the {{cpptype}} value.
     * \fn void Set({{cpptype}} value)
     * \param {{cpptype}} value new value
     */
    void Set({{cpptype}} value);

    /*! Gets the value.
     * \fn {{cpptype}} Get() const
     * \return {{cpptype}} value
     */
    {{cpptype}} Get() const;

    /*! Validates that a value meets schema requirements.
     * \fn void Validate({{cpptype}} testValue)
     * \param {{cpptype}} testValue to validate
     * \throw if passed value is invalid
     */
    static void Validate({{cpptype}} testValue);

    /*! \fn {{Name}} FromJson(const rapidjson::Value& json)
     * \brief Deserializes a JSON "{{schema.type}}" value into a new instance of {{Name}}.
     * \param json is the RapidJSON value which must be of "null" type.
     * \throw If the JSON isn't a {{schema.type}}
     * \returns {{Name}}
     */ 
    static {{Name}} FromJson(const rapidjson::Value& json);

    /*! \fn {{Name}} FromString(const std::string& str)
     * \brief Performs a "lexical cast" on the string to create a new {{Name}} object
     * \param const std::string& str stringified representation of a {{schema.type}}
     * \throw If the string cannot be cast or does not JSON-schema validate
     * \return {{Name}}
     */
    static {{Name}} FromString(const std::string& str);

    /*! \fn ToJson(rapidjson::Value& value, rapidjson::Value::AllocatorType& allocator)
     * \brief Sets 'value' to a {{schema.type}}
     * \param value is the RapidJSON value which will be modified to contain the serialization
     * \param allocator is the top-level RapidJSON document allocator which may be used for allocations
     */
    void ToJson(rapidjson::Value& value, rapidjson::Value::AllocatorType& allocator) const;

private:
    {{cpptype}} _value;
};