{%-import 'schema.jinja2' as loader-%}
**Object**{%if 'title' in schema%} - {{schema.title | italics}}.  Has{%else%} with{%endif%} these properties:
<table>
<tr><th>Property Name</th><th>Type</th><th>Description</th></tr>
{%-for propName, prop in schema.properties.items() %}
{{loader.Property(propName, prop.Resolve(resolver), propName in schema.required or propName in schema.requiredProperties, resolver)}}
{%-endfor%}
</table>
