{%-import 'schema.jinja2' as loader-%}
{%if schema.allow_none %}Zero or one{%else%}One{%endif%} of the following types:
{%- for s in schema.GetComponents() %}
 * OR {{loader.Display(s.Resolve(resolver), resolver) | mdindent(2)}}
{%endfor-%}
{%-if schema.allow_none %}
 * OR none of the above
{%-endif-%}
{# #}